nav {
    z-index: 100;
    width: 100%;
    background-color: rgb(36, 36, 36);
    box-shadow: 0 2px 4px 0 rgba(30, 0, 20, 0.2), 0 8px 8px 0 rgba(30, 0, 20, 0.1)
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.brand-noti {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    /* height: 40px; */
    margin-right: 10px;
    border-radius: 50%;
}

.brand-name {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(21, 170, 44);
}

.search-bar {
    position: absolute;
    left: 40%;
    width: 30%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    background-color: rgb(18, 18, 18);
    color: white;
    border-radius: 10px;
    border: 0px;
    outline: none;
}

.search-results-container {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    color: white;
    padding: 10px 0px 5px 11px;
    margin: 5px 0px 0px 0px;
    background-color: rgb(36, 36, 36);
    /* Changed to rgb(36, 36, 36) */
    box-shadow: -10px 10px 7px -12px rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    z-index: 101;
    /* Ensure it appears on top */
}

.search-options {
    display: block;
    overflow-x: auto;
    padding: 0px 0px 5px;

}

.search-options:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}


.notification-icon {
    border: none;
    background-color: rgb(36, 36, 36);
    margin-right: 10px;
}

.icon {
    width: 20px;
}