<div class="library">
    <div class="library-title">LIBRARY</div>
    <div class="library-content">
        <button onclick="newRelease()" class="library-content-btn">New Releases</button>
        <button onclick="topSongs()" class="library-content-btn">TOP 50 Songs</a>
        <button href="#" class="library-content-btn">BEST Artists</button>
        <button href="#" class="library-content-btn">New Songs</button>
        <button href="#" class="library-content-btn">Old Songs</button>
    </div>
</div>
<div class="copyright">
    <p>&copy 2024, made with &#10084; by Tejas</p>
</div> 
