<div class="navbar">
    <div class="brand-noti">
        <div class="brand">
            <a href="/">
                <img src="../static/images/MainLogo.jpg" alt="Logo" class="logo">
            </a>
            <a href="/"><span class="brand-name">SANGEET</span></a>
        </div>
        <button class="notification-icon">
            <a href="#"><img src="../static/images/notification.jpg" alt="notification" class="icon"></a>
        </button>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search Song Name..." id="search" oninput="searchCSV()">
        <div id="search-results" class="search-results-container"></div>
    </div>
</div>

<!-- <div class="copyright">
    <p>&copy 2024, made with &#10084; by Tejas</p>
</div> -->